/*all elements selected, padding and margin set to zero- will be default seting unless specified differently in other class*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets background colour for body*/
body {
    background-color: #d9dcd6;
}

/*Sets blue background colour and white font colour for header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Displayes header h1 element, the "Horiseon" heading, as an in-line block with 48px font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Slightly changes the colour of the "seo" letters compared to the rest of the heading*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Sets the float and position, font type and size of the navigation link section*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*No style tye for the navigation bar unordered list*/
.header nav ul {
    list-style-type: none;
}

/*No style tye for the navigation bar unordered list*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Anchor elements with links text set to white colour with no font decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*NText in paragraph elements set to font size 16*/
p {
    font-size: 16px;
}

/*Specifies footer section font type, text alignment, space around it, position and that it will not be visible*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none
}

/*Specifies footer heading font size */
.footer h2 {
    font-size: 20px;
}

/*Specifying image and size and position of background image below header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Specifies main content boxes to be inline-blocks and 75% width of page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Specifies section font colour, background colour, size, space around it and line break space, three classes merged into one CSS selector*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Specifies image height, three classes merged into one CSS selector*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Specifies heading font size and line break size, three classes merged into one CSS selector*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Used to move two pictures to left of content boxes*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Used to move picture to right of content boxes*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Positions the aside benefits box section on the right of screen, specifies size, fonts and background colour*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Specifies positon and colour of top benefit box section, three classes merged into one CSS selector*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Specifies position and line break of headings, three classes merged into one CSS selector*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
}

/*Specifies element type, size and space to next element, three classes merged into one CSS selector*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}